<section class="w-full md:ml-3 mx-3 bg-white p-6 rounded-lg shadow-lg">
    <h2 class="text-gray-800 text-2xl">Add Genre</h2>

    <form action="/genres" method="POST">
      
        <!-- Name Field -->
        <div class="mb-4">
          <label for="name" class="block text-gray-700 text-sm font-medium">Name</label>
          <input type="text" id="name" name="name" class="mt-1 p-2 w-full border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-purple-500" required>
        </div>
  
        <!-- Submit Button -->
        <div class="flex justify-center">
          <button type="submit" class="bg-purple-500 text-white py-2 px-4 rounded-lg hover:bg-purple-600 focus:outline-none focus:ring-2 focus:ring-purple-500">Submit</button>
        </div>
    </form>

    <h2 class="text-gray-800 text-2xl my-6">All Genres</h2>
    <div class="max-w-md mx-auto bg-white shadow-lg rounded-lg overflow-hidden">
        <ul class="divide-y divide-gray-200">
            <% genres.forEach(function(genre) { %>
                <li class="p-4 hover:bg-gray-100">
                    <p class="text-lg font-medium text-gray-800"><%= genre %></p>
                </li>
            <% }); %>
        </ul>
    </div>
</section>